body{
	margin: 0px;
	padding: 0;
	font-family:sans-serif;
	background-color: #111111;
	width: 100%;
	color: white;
}
.container{
	width: 90%;
	margin: 0 auto;
	background-color:;
	margin-top: 20px;
	margin-bottom: 100px;
}

@media(max-width: 700px){
	.container{
		width: 100%;
		margin-left: 10%;
	}
}
ul{
	margin: 0;
	padding: 0;
	list-style-type: none;

}
li{

}
a{
	color: white;
	text-decoration: none;
}
header{
	
}
.heading{

}
@media(max-width: 700px){
	.heading{
		position: relative;
		left: 150px;
}
}
.header-nav{
	margin-top: 20px;
	display: flex;
	justify-content:center;
	gap: 5vw;
	font-size: 18px;
}
@media(max-width: 700px){
	.header-nav{
		margin-top: 20px;
		display: flex;
		justify-content:center;
		gap: 5vw;
		font-size: 20px;
		position: relative;
		left: 14%;
}
}
.header-instagram{
	align-self: center;
}
.header-nav-link{
	height: 20px;
	align-self: center;
}
.header-nav-link:hover{
	color:  #CDAA7D;
	border-bottom: 1px solid  #CDAA7D;
}

.header-item{
	display: inline;
}

.space-header{

}

.hero-section{
	display: flex;
	align-items: center;
	background-image: url(assets/img/bgc.png);
	max-width: 100%;
	width: 1920;
	height: 700px;
	color: white;
	margin-top: 70px;
	
}
@media(max-width: 700px){
	.hero-section{
		background: none;
	}
}
.heading-hero{
	width: 100%;
	height: 258px;
	font-weight: 700;
	font-size: 72px;
	line-height: 120%;
}

@media(max-width: 1400px){
	.heading-hero{
		text-align: center;
		width:50%;
		height: 258px;
		font-weight: 700;
		font-size: 60px;
		line-height: 120%;
		margin-left: 10%;
		margin-left: 25%;
}
}

@media(max-width: 300px){
	.heading-hero{

		width:100%;
		height: 258px;
		font-weight: 700;
		font-size: 40px;
		line-height: 120%;
		position: relative;
		left: 90px;
}
}
@media(max-width: 700px){
		.heading-hero{
			position: relative;
			left: 130px;
			width:100%;
			height: 258px;
			font-weight: 700;
			font-size: 44px;
			line-height: 120%;
			margin-left: 10%;
}
}
.section-blockquote{
	margin-top: 120px;
	margin-bottom: 100px;

}

@media(max-width: 700px){
	.section-blockquote{
		display: none;
		margin-top: 60px;
		margin-bottom:0;

	}
}

.blockquote__inner{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.blockquote{
	text-align: center;
}


.services{

}
.services__inner{
	display: grid;
	grid-template-columns: repeat(3, 1fr );
	grid-gap: 44px;
}
@media(max-width: 700px){
	.services__inner{
		display: grid;
		grid-template-columns: repeat(2, 1fr );
		grid-gap: 44px;
		font-size: 30px;

	}
	.photo-description{
		font-size: 32px;
	}
}
.heading-services{
	text-align: center;
}
@media(max-width: 700px){
	.heading-services{
		text-align: center;
}
}


.background-img-services{
	position: absolute;
	width: 396px;
	height: 300px;
	border: 1px solid #CDAA7D;
	/*box-sizing: border-box;*/
}
.img-services{
	position: relative;
	top: 20px;
	right: 20px;
}

@media(max-width: 1400px){
	.photo-services{
		width: 300px;
	}

	.background-img-services{
		position: absolute;
		width: 300px;
		height: 220px;
		border: 1px solid #CDAA7D;
		box-sizing:;
}

}

.partners_inner{
	display: flex;
	justify-content: center;
	gap: 10%;
}
@media(max-width: 300px){
	.partners_inner{
		margin-left:50%;
	}
}
.heading{
	font-weight: 700;
	font-size: 48px;
	margin-top: 191px;
	margin-bottom: 80px;

}

.our-works{
	text-align: center;

}
.works-heading{
	text-align: center;
}
.works-header{
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5%;
	margin-bottom: 70px;
}
@media(max-width: 700px){
	.works-header{
		display: none;
	}
}
.our-works-gallery{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 24px;
}

@media(max-width: 700px){
	.our-works-gallery{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
}

}

@media(max-width: 1400px){
	.gallery-photo{
		width: 300px;
	}
}

.footer_inner{
	display: grid;
	grid-template-columns: repeat(4, 1fr );
	gap: 102px;
}
.inst-icons{
	width: 10%;
	float: right;
}
@media(max-width: 700px){
	.footer_inner{
		display: grid;
		grid-template-columns: repeat(2, 1fr );
		gap: 30px;
}
}

@media(max-width: 700px){
	.footer_inner{
		font-size: 40px;
		display: grid;
		grid-template-columns: repeat(1, 1fr );
		justify-items: center;
		gap: 30px;
}
	.inst-icons{
		float:;
}	
}

