@media(max-width: 600px){
	body{
	}
	.container{
		width: 90%;
	}
	.header-strong{
			font-size: 45px;

	}
	.logo-b{
		font-size: 50px;
	}
	.portfolio-container{
		width: 90%;
	}
	.header-nav{
		display:none;
	}

	.hero-section{
		display: flex;
		flex-direction: column;
	}
	.hero-text{
		width: 70%;
		line-height: 56px;
		font-size: 23px;
	}

	.hero-description{
		font-size: 25px;
	}
	.skills{
		padding: 40px;
	}
	.skills__inner{
		display: flex;
		flex-direction: column;

	}

	.card-text-description{
		font-size: 23px;
		font-weight: normal;
	}
	.heading-portfolio{
		text-transform: uppercase;
		font-size: 30px;
		margin-top: 10%;
		margin-bottom: 10%;
	}
	.portfolio-link{
		font-size: 25px;
	}

	.footer-text{
		width: 100%;
		font-size: 25px;
	}
	
	.copyrights{
		font-size: 25px;
	}
	
}
@media(max-width: 400px){
	.footer-social{
		gap: 10px;
	}
}
