@font-face{
	font-family: poppins;
	src: url(../font/poppins-v20-latin-regular.ttf) format('ttf') , url(../font/poppins-v20-latin-regular) format('woff');
	font-style: italic;
}
body{
	font-family:Shototam,Sans-serif,Arial; 
	font-weight:bold; 
	background-color: #F1F1F1;

}
section{
}
.container{
	width: 80%;
	margin: 0 auto;
}
.portfolio-container{
	width: 70%;
	margin: 0 auto;
}
.header{
	display: flex;
	justify-content:space-between;
	align-items: center;
}
.header-strong , .logo-b{
	font-family: 'Poppins';
	font-weight: 700;
	font-size: 32px;
	line-height: 100%;
}
.logo-b{
	color: gold;
}
.nav-list{
	display: flex;
	list-style-type: none;
	gap: 50px;
}
.nav-item{
	display: inline;
	gap: 30%;
}

.nav-link{
	text-decoration: none;
	color: black;
}
.nav-link:hover{
	color: gray;
}
.adaptive-nav{
	display: none;
}
/*hero-section*/
.hero-section{
	margin-top: 76px;
	display: flex;
	align-items: center;

}
.hero-text{
	width: 60%;
 	font-style: normal;
	font-weight: 600;
	font-size: 20px;
	line-height: 66px;
}
.hero-description{
	font-size: 15px;
}
.hero-img{
	width: 100%;
	height: auto;
}

.skills{
	background-color: white;
	padding: 70px 215px;
}
.skills__inner{
	display: flex;
	gap: 70px;
}

.skill-card{


}
.name-card{
	text-transform: uppercase;
	font-weight: bolder;
}
.heading-portfolio{
	text-align: center;
}
.portfolio-photo{
	width: 100%;
	height: auto;
}
.photo-description{
	margin-top: 70px;
	margin-bottom: 60px;
	text-align: center;
}
.portfolio-link{
	color: #070707;
}

.footer__inner{
	width: 50%;
	margin: 0 auto;
	text-align: center;
	display: flex;
	gap: 70px;
	flex-direction: column;
}
.footer-text{
	display: flex;
	flex-direction: column;
	gap: 30px;
	width: 40%;
	margin: 0 auto;
}
.footer-link{
	padding: 5%;
	background-color: black;
	color: white;
	padding-bottom: 20;
	border-radius: 70px;
	text-decoration: none;
}

.footer-link:hover{
	background-color: white;
	color: black;
	border: 1px solid black;
}

.footer-social{
	display: flex;
	gap: 30px;
	margin: 0 auto;
}

.copyrights{
	text-align: center;
	padding-bottom: 20px;
	color: #828282;
}