@media(max-width: 1000px){
	body{

		}
	img{
		max-width:100%;
	}	
	.header{
		display: none;
	}	
	.container{
	}	
	.build-coffe-cards{
		text-align: center;	
		display: grid;
		grid-template-columns:repeat(1,25%);	
		justify-content: center;
		gap:40px;
	}
	.adaptive-text{
		display: none;
	}
	.personalized-cards{
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		gap: 30px;
	}

	.personalized-card{
		padding: 20px;
		text-align: center;
		width: 70%;
		justify-self:center;
		display: block;
	}
	.slider-button{
		display: none;
	}	
	.coffe-text-card{
		display: flex;
		flex-direction: column;
	}
	/*
	}РЕАЛИЗОВАТЬ КНОПКУ ДЛЯ СЛАЙДЕРОВ
	.slider-button-adaptive{
	}
	/**/
	.coffe-jar{
		width: 100%;
		margin: 0 auto;
	}
	.coffe-jar__inner{
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
	}	
	.coffe-jar__text{
		width: 50%;
		margin-left: 40%;
	}
	.coffe-jar-text-description__coffe-settings{
		gap: 20%;
	}
	.sell-links{
		display: flex;
		flex-direction: column;
	}
	.combo-phin-cards{
		display: block;
	}
	.combo-phin-card{
		text-align: center;
	}
}


@media(max-width: 300px){
	.personalized-card{
		width: 100%;
		justify-self:start;
	}

}
