body{
	margin: 0px;
	padding: 0px;
	font-family:sans-serif;
}
h1{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 58px;
line-height: 80px;
/* or 138% */

letter-spacing: 0.2px;

/* text-color */

color: #252B42;

}
h2{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

letter-spacing: 0.1px;

/* text-color */

color: #252B42;

}
h3{
	font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */

letter-spacing: 0.1px;

/* text-color */

color: #252B42;

}
.container{
	margin-left:115px;
	padding-top: 30px;
}
@media(max-width:700px){
	.container{
	margin-left:0px;
	padding-top: 0px;
}
}
.header{
	display: grid;
	grid-template-columns: repeat(3, 1fr );
}
.header-nav{
}
.header-nav-link{
	margin-left: 21px;
	text-decoration: none;
	color:#737373;

}
.logo{
	background-color: ;
}
.section-hero{
	margin-top: 40px;
	display: grid;
	grid-template-columns:40% 50%;
}
.hero-text{
	align-self: start;
}
@media(max-width: 700px){
	.hero-heading{
		font-size: 30px;
	}

}
.hero-img{
	width:60%;
	display: block;
}
.hero-cards{
	margin-top: -20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap:0 30px;
}
@media(max-width: 1000px){
	.hero-cards{
	margin-top: 20px;
	grid-gap:0 30px;
	grid-template-columns: 1fr 1fr;
}
}

@media(max-width: 700px){
	.hero-cards{
	margin-top: 20px;
	grid-gap:0 30px;
	grid-template-columns: 1fr;
}
}
.card-hero-text{
	width: 328px;
}
.circle{
	fill: #456BD9;
  	stroke: #0F1C3F;
  	stroke-width: 0.1875em;
	background-color: #E74040;
}

.card-hero-heading::after{
	content: "";
	width: 30%;
	height: 2px;
	display: block;
	background-color:  #E74040;
	margin-top: 20px;
	margin-bottom: 20px;
}
