.main-heading-icon
  display: inline
  margin:0 1rem
  padding:2rem
  background-color: black
  border-radius: 1rem
  text-transform: uppercase
  color: white
  letter-spacing: .2rem
  font-weight: 100