head
  include ../../common/templates/_nameTitle.pug
  -nameTitle = 'food exxe-Блюдо'
  include ../../common/templates/_head.pug
  title #{nameTitle}

body
  main
    include ../../common/components/header/sidebar.pug
    include ../../common/components/filter-menu/filter-menu.pug

    section.food-heading
      .container.container_food-heading
        div.food-heading__image
          .food-heading__image-main
            img(src="../../../image/Rectangle 59.png", alt="фото блюда")
          .food-heading__image-mini
            img(src="../../../image/Rectangle 60.png", alt="фото блюда")
            img(src="../../../image/Rectangle 60.png", alt="")
            img(src="../../../image/Rectangle 60.png", alt="")
        div.food-heading__description
          .food_heading__description__name__food
            h3 Яичница-глазунья из трех яиц
          .food-heading__description__mount
            .food-heading__description__mount__price
              span.price 250 ₽
              span.weight / 400 грамм
            .food-heading__description__mount__food
              div колличество порций:
              span.food-heading__description__mount__food__counter 1
                .food-heading__description__mount__food__counter__move
                  | <>
              a(href="#" class="link-background") в корзину
          
          .food-heading__description__bonus
            h3 Сделать ещё вкуснее:
            .food-heading__description__bonus-menu
              .food-heading__description__bonus-menu__description
                .food-heading__description__bonus-menu__description__block
                  .food-heading__description__bonus-menu__description__name.weight
                    | тигровые креветки 60г
                    .food-heading__description__bonus-menu__description__price.price
                      | 450 ₽
                  .food-heading__description__bonus-menu__checkbox
                    input(type="checkbox", name="")
                .food-heading__description__bonus-menu__description__block
                  .food-heading__description__bonus-menu__description__name.weight
                    | тигровые креветки 60г
                    .food-heading__description__bonus-menu__description__price.price
                      | 450 ₽
                  .food-heading__description__bonus-menu__checkbox
                    input(type="checkbox", name="")
                .food-heading__description__bonus-menu__description__block
                  .food-heading__description__bonus-menu__description__name.weight
                    | тигровые креветки 60г
                    .food-heading__description__bonus-menu__description__price.price
                      | 450 ₽
                  .food-heading__description__bonus-menu__checkbox
                    input(type="checkbox", name="")
                .food-heading__description__bonus-menu__description__block
                  .food-heading__description__bonus-menu__description__name.weight
                    | тигровые креветки 60г
                    .food-heading__description__bonus-menu__description__price.price
                      | 450 ₽
                  .food-heading__description__bonus-menu__checkbox
                    input(type="checkbox", name="")
    script(src='../../../scripts/ReserveTableOpen.js')          
    .container          
      include ../../common/components/contacts/contacts.pug
  include ../../common/components/footer/footer.pug