body {
  background-color: black;
  color: white;
}
body .container {
  max-width: 80%;
  margin: 0 auto;
}

@font-face {
  font-family: RobotoLight;
  src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: RobotoBold;
  src: url(../../fonts/Roboto-bold.ttf);
}
@font-face {
  font-family: ProjectCardFont;
  src: url(../../fonts/VT323-Regular.ttf);
}
body {
  font-family: RobotoLight;
  font-size: 1.3rem;
}
body .main-project-card__logo {
  font-size: 3rem;
  font-family: ProjectCardFont;
}

.main-heading-icon {
  display: inline;
  margin: 0 10px;
  padding: 20px;
  background-color: black;
  border-radius: 10px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 2px;
  font-weight: 100;
}

.header {
  background: linear-gradient(199deg, rgba(99, 99, 99, 0.4) 50%, rgba(0, 0, 0, 0.4) 30%), url("../../image/services.jpg") center/cover no-repeat;
  padding: 20px 0;
  height: 30rem;
  font-size: 1.3rem;
  font-weight: 400;
}
.header .header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-nav-list__item {
  list-style-type: none;
  color: white;
}
.header .header-nav-list a {
  color: white;
  text-decoration: none;
}
.header .header-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 100px;
}
.header .header-hero .main-heading {
  color: white;
  margin-bottom: 100px;
}
.header .header-hero .main-heading__text {
  font-weight: normal;
}
.header .header-hero .main-heading-icons {
  margin-bottom: 100px;
}

.heading-section-utilite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

main .about-me {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), color-stop(50%, black)), url("../../image/Coding-Games.jpg") center/cover no-repeat;
  background: linear-gradient(rgba(0, 0, 0, 0.9), black 50%), url("../../image/Coding-Games.jpg") center/cover no-repeat;
  background-attachment: fixed;
  color: white;
  padding: 200px 0;
}
main .about-me__inner {
  text-align: center;
}
main .about-me__inner .about-me-text {
  font-size: 1.2rem;
}
main .about-me__inner .about-me-text__link {
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: white;
  padding: 20px;
  border: 1px solid white;
  border-radius: 30px;
  -webkit-box-shadow: white 0px 2px 30px;
          box-shadow: white 0px 2px 30px;
}
main .my-skills {
  background-color: black;
  color: white;
  padding: 100px;
  letter-spacing: 2pxf;
}
main .my-skills-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}
main .my-skills-block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: rgba(153, 146, 146, 0.4);
  padding: 40px;
  border-radius: 20px;
}
main .my-skills-block-card-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}
main .my-skills-block-card-icon__img {
  width: 30%;
}
main .my-skills-block-card-text {
  line-height: 20px;
}
main .my-skills-block-card ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
}
main .my-skills-block-card ul li {
  line-height: 10px;
}
main .services .services-card-landing {
  position: relative;
  background: url("../../image/services-backgound.jpg") center/cover no-repeat;
  padding: 200px;
  color: white;
}
main .services .services-card-landing__text {
  position: absolute;
  left: 60%;
  top: 50%;
  width: 30%;
}
main .services .services-card__two-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
main .services .services-card__two-block .services-card__twin-block {
  background-color: black;
  color: white;
  padding: 200px 50px;
}
main .services .services-card__two-block .services-card__twin-block__photo {
  background: url("../../image/services.jpg") center/cover no-repeat;
}
main .main-project-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
main .main-project-block .main-project-card {
  text-align: center;
}
main .main-project-block .main-project-card__logo a {
  color: white;
}
main .main-project-block .main-project-card__description-project {
  line-height: 2px;
}