@font-face {
  font-family: RobotoLight;
  src: url(../../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: RobotoHeading;
  src: url(../../fonts/Roboto-bold.ttf);
}
body {
  font-family: RobotoLight;
}
body .container {
  max-width: 80%;
  margin: 0 auto;
}
body .header-nav li {
  list-style-type: none;
}
body .header-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .header-nav__list a {
  text-decoration: none;
}
body .header-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 400px;
}
body .header-hero .main-heading {
  width: 40%;
}
body main section {
  margin-top: 10em;
  margin-bottom: 10em;
}
body main .gallery-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 23px 40%;
  grid-template-columns: 40% 40%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 23px;
}
body main .gallery-block-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
body main .gallery-block-column .gallery-card-description {
  margin: 0;
  padding: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
  -webkit-box-shadow: 1px 5px 10px black;
          box-shadow: 1px 5px 10px black;
}
body main .gallery .gallery-block {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 40%;
  grid-template-columns: 40% 40%;
}
body main .gallery .gallery-block__card {
  font-size: 20px;
}
body main .gallery .gallery-block__card-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}
body main .services .services-card-landing {
  position: relative;
  background: url("../../image/services-backgound.jpg") center/cover no-repeat;
  padding: 200px;
  color: white;
}
body main .services .services-card-landing__text {
  position: absolute;
  left: 60%;
  top: 50%;
  width: 30%;
}
body main .services .services-card__two-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body main .services .services-card__two-block .services-card__twin-block {
  background-color: black;
  color: white;
  padding: 200px 50px;
}
body main .services .services-card__two-block .services-card__twin-block__photo {
  background: url("../../image/services.jpg") center/cover no-repeat;
}
body main .main-project .heading-section {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
body main .main-project .heading-section__main-text {
  margin-bottom: 15px;
  display: block;
}
body main .main-project .heading-section__description-text {
  display: block;
}